/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    border-bottom: 3px solid #b9e7ec;
}

article {
    background-color: #1e90ff;
}

aside {
    background-color: #ffc0cb;
}

.flex {
    display: flex;
}

.justify-align-center {
    justify-content: center;
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.navbar-box nav {
    background-color: #daa520;
    height: 40px;
    padding: .6rem;
}

.link-list li {
    list-style-type: none;
    padding: 0 .5rem;
}

.link-list {
    justify-content: center;
}

.navbar-box {
    background-color: #add8e6;
}

.login {
    text-align: right;
}

.container {
    height: 500px;
}

.pink-container {
    background-color: #ee82ee;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.width-15 {
    width: 15%;
}

.height-400-px {
    height: 400px;
}

.height-60-px {
    height: 60px;
}

.black-dotted-border {
    border: 2px dashed black;
}

.background-white {
    background-color: white;
}

.background-dark-blue {
    background-color: #00008b;
}

.background-light-grey {
    background-color: #d3d3d3;
}